{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h2>Add recipe</h2>
  <form method="POST">
    <div class="field">
      <label>Name</label>
      <input type="text" name="n">
    </div>
    <div class="field">
      <label>Rating</label>
      <input type="number" name="r">
    </div>
    <div class="field">
      <label>Difficulty</label>
      <select name="d">
	<option>Easy</option>
	<option>Medium</option>
	<option>Hard</option>
      </select><br>
    </div>
    <div class="field">
      <label>Recipe Type</label>
      <select name="rt">
	<option>Breakfast</option>
	<option>Lunch</option>
	<option>Dinner</option>
      </select>
    </div>
    <div class="field">
      <label>Prepare Type</label>
      <input type="number" name="pt"><br>
    </div>
    <div class="field">
      <label>Main Ingredients</label>
      <input type="text" name="mi"><br>
    </div>
    <div class="field">
      <label>Recipe URL</label>
      <input type="text" name="rl"><br>
    </div>
    <div>
      <input type="submit" value="Add+">
    </div>
  </form>
</div>
{% endblock content %}
