{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h2>Add recipe</h2>
  <form method="POST" class="form">
    <input type="text" name="n" placeholder="Recipe Name"><br>
    <select name="d">
      <option>Easy</option>
      <option>Medium</option>
      <option>Hard</option>
    </select>
    <select name="rt">
      <option>Breakfast</option>
      <option>Lunch</option>
      <option>Dinner</option>
    </select><br>
    <input type="number" name="r" placeholder="Recipe Rating">
    <input type="number" name="pt" placeholder="Prepare Time"><br>
    <input type="text" name="mi" placeholder="Making Ingredients"><br>
    <input type="text" name="rl" placeholder="Recipe URL"><br>
    <input type="submit" value="Add Recipe +">
  </form>
</div>
{% endblock content %}
