<!DOCTYPE html>
<html>
  <head>
    <title>Cook50</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <header>
      <h1>
	<img src="{{ url_for('static', filename='img/logo.png') }}" width="50px">
	Cook <span>50</span>
      </h1>
    </header>
    <ul class="nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="{{ url_for('recipes') }}">Cookbook</a></li>
      <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
      <li><a href="{{ url_for('shopping_list') }}">Shopping List</a></li>
      <li><a href="#">Meal Planner</a></li>
      {% if request.cookies.get('user_id') %}
      <li><a href="/logout">Logout</a></li>
      {% else %}
      <li><a href="/login">Login</a></li>
      {% endif %}
    </ul>
    
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <footer>
      <span>made with ❤ by <a href="https://bugswriter.com">@BugsWriter</a></span>
    </footer>
  </body>
</html>
