@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=MonteCarlo&family=Roboto&family=STIX+Two+Text&display=swap');

/************************
 *
 * WHOLE WEBSITE
 * LAYOUT CSS
 * WRITTEN BY BUGSWRITER
 *
 ************************/


:root {
    --color01: #FFA500;
    --color02: #FF8C00;
    --color03: #FF7F50;
    --color04: #FF6347;
    --color05: #FF4500;
    --fontsize: 18px;
    --font: "Roboto"
}

/* HTML , BODY & Some LAYOUT CSS */

/*
html {
  height: 100%;
  background: url(images/) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

body{
    color: black;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font), sans-serif;
    font-size: var(--fontsize);
}

body *{
    margin: 0;
    padding: 0;
}

body a{
    color: var(--color05);
    text-decoration: none;
}

body a:hover{
    color: var(--color01);
}

/* HEADER CSS */

header h1{
    width: fit-content;
    margin: auto;
    padding: 10px;
}

header h1 span{
    color: white;
    background-color: var(--color05);
    border-radius: 6px 1px;
    font-family: 'Dancing Script', cursive;
    padding: 3px;
}

/* NAV BAR CSS */

.nav{
    background-color: var(--color05);
    margin: auto;
    width: fit-content;
    border-radius: 10px 1px;
    padding: 5px;
    font-size: 75%;
}

.nav a{
    color: white;
    font-size: 140%;
}

.nav a:hover{
    background-color: var(--color01);
    color: white;
    border-radius: 6px 1px;
    text-decoration: underline;
}

.nav .active{
    color: var(--color01);
}

.nav li{
    display: inline;
    margin: 0px 20px;
}

/* CONTAINER & MAIN SECTION (HALF) CSS */

.container{
    font-size: 100%;
}

/* FOOTER CSS */

footer{
    padding: 15px;
    width: fit-content;
    margin: auto;
}

/************************
 *
 * home.html CSS
 * Writter by BugsWriter
 *
 ************************/

img{
    margin: auto;
}

p{
    padding: 10px;
}

form.search-form input[type=text] {
    padding: 6px;
    border: 1px solid grey;
    width: 220px;
}

form.search-form button {
    padding: 6px;
    background: var(--color03);
    color: white;
    border: 1px solid grey;
    cursor: pointer;
    border-radius: 10px 1px;
}

form.search-form button:hover {
    background: var(--color02);
}

form.search-form::after {
    content: "";
    clear: both;
}

/************************
 *
 * search_result.html CSS
 * Writter by BugsWriter
 *
 ************************/

.search-box{
    width: fit-content;
    padding: 20px;
    margin: auto;
}

.result-box{
    width: fit-content;
    margin: auto;
}

.result-box table{
    border-collapse: collapse;
}

.result-box td, th {
    text-align: center;
    padding: 10px;
}

.result-box th{
    background-color: var(--color05);
    color: white;
}

.result-box tr:nth-child(even){
    background-color: var(--color02);
    color: white;
}

.result-box tr:nth-child(even) a{
    color: white;
}

.result-box tr:nth-child(even){
    background-color: var(--color02);
    color: white;
}

.result-box tr:nth-child(odd) a{
    background-color: white;
    padding: 2px;
    border-radius: 3px;
}

/**************
* Form CSS
**************/

.container{
    width: fit-content;
    margin: 40px auto;
}

.form{
   margin: 20px;
}

.form input, .form select{
    padding: 10px;
    margin: 10px;
}

.form select{
    width: 200px;
}

.form input[type=text], .form input[type=password]{
    width: 400px;
}
