@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=MonteCarlo&family=Roboto&family=STIX+Two+Text&display=swap');

/************************
 *
 * WHOLE WEBSITE
 * LAYOUT CSS
 * WRITTEN BY BUGSWRITER
 *
 ************************/


:root {
    --color01: #FFA500;
    --color02: #FF8C00;
    --color03: #FF7F50;
    --color04: #FF6347;
    --color05: #FF4500;
    --color06: #FED8B1;
    --fontsize: 18px;
    --font: "Roboto"
}

/* HTML , BODY & Some LAYOUT CSS */
body{
    width: fit-content;
    margin: auto;
    font-family: var(--font), sans-serif;
    font-size: var(--fontsize);
}

body a{
    color: var(--color05);
    text-decoration: none;
}

body a:hover{
    color: var(--color01);
}

/* HEADER CSS */

header h1{
    width: fit-content;
    margin: auto;
    padding: 10px;
}

header h1 span{
    color: white;
    background-color: var(--color05);
    border-radius: 6px 1px;
    font-family: 'Dancing Script', cursive;
    padding: 3px;
}

/* NAV BAR CSS */

.nav{
    border-radius: 6px 1px;
    background-color: #307679;
    margin: auto;
    width: fit-content;
    padding: 5px;
}

.nav a{
    color: white;
}

.nav a:hover{
    background-color: var(--color01);
    border-radius: 6px 1px;
    color: white;
}

.nav li{
    display: inline;
    margin: 0px 20px;
}

/* FOOTER CSS */

footer{
    padding: 15px;
    width: fit-content;
    margin: auto;
}

.search-box{
    padding: 10px;
    width: fit-content;
    margin: auto;
}

.result-box{
    width: fit-content;
    margin: auto;
    font-size: 90%;
}

.result-box table{
    border-collapse: collapse;
}

.result-box td, th {
    text-align: center;
    padding: 10px;
}

.result-box th{
    color: white;
    background-color: var(--color05);
    border-top: 1px solid black;
}

.result-box tr:nth-child(even){
    background-color: var(--color02);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}


.result-box tr:nth-child(even){
    background-color: var(--color06);
}

.result-box tr:nth-child(odd) a{
    padding: 2px;
    border-radius: 3px;
}

/**************
* Form CSS
**************/

.container{
    width: fit-content;
    margin: 40px auto;
}

.form , .slform{
   margin: 20px;
}

.form input, .form select{
    padding: 10px;
    margin: 10px;
}

.form select {
    width: 200px;
}

.form input{
    width: 400px;
}

.form input[type=number]{
    width: 175px;
}

.form input[type=submit]{
    width: 425px;
}

.slform input{
    width: 300px;
    padding: 10px;
}

.slform input[type=number]{
    width: 40px;
}

.slform input[type=submit]{
    width: fit-content;
}
